# Linear Regression Practice

In this notebook, I will practice running linear regression in Python. I'm very familiar with running linear regressions in SPSS and STATA, so it will be good to practice setting up models in this format. 

I am going to manually calculate linear regression and use built-in functions from scikit-learn to get extra practice.

The data I am using is on Olympic athletes. I found this dataset on Kaggle. 

Let's get started.

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression

## Data preparation

In [3]:
data = pd.read_csv('athlete_events.csv')
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,135555,Micha Zych,M,23.0,177.0,68.0,Poland,POL,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34.0,192.0,95.0,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,135564,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Russia-1,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

This is a pretty straightforward file, which makes it easy for us! 

We eventually want to run a linear regression. We first need to find some variables that have a linear correlation. 

We may be able to find a relationship between the height of basketball players and the number of gold metals they won. Let's see.

In [21]:
basketball_data = data[data.Sport == 'Basketball']
basketball_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
250,124,Youssef Mohamed Abbas,M,31.0,NaN,NaN,Egypt,EGY,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
264,136,Alessandro Abbio,M,29.0,195.0,85.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
346,192,Ahmed El-Sayed Abdel Hamid Mobarak,M,25.0,189.0,85.0,Egypt,EGY,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
359,199,Amir Abdel Meguid,M,23.0,178.0,67.0,Egypt,EGY,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,NaN
360,199,Amir Abdel Meguid,M,27.0,178.0,67.0,Egypt,EGY,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
363,202,Awad Abdel Nabi Awad,M,19.0,198.0,80.0,Egypt,EGY,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
364,202,Awad Abdel Nabi Awad,M,23.0,198.0,80.0,Egypt,EGY,1976 Summer,1976,Summer,Montreal,Basketball,Basketball Men's Basketball,NaN
490,270,Alaa El-Din Abdoun,M,23.0,188.0,78.0,Egypt,EGY,1988 Summer,1988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
609,351,Julius Shareef Abdur-Rahim,M,23.0,202.0,104.0,United States,USA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Gold
641,370,Shigeaki Abe,M,24.0,178.0,70.0,Japan,JPN,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
642,370,Shigeaki Abe,M,28.0,178.0,70.0,Japan,JPN,1976 Summer,1976,Summer,Montreal,Basketball,Basketball Men's Basketball,NaN
833,474,Essameldin Abou El-Nein,M,29.0,205.0,102.0,Egypt,EGY,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,NaN
839,480,Youssef Kamel Mohamed Abou Ouf,M,24.0,NaN,NaN,Egypt,EGY,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,NaN
840,480,Youssef Kamel Mohamed Abou Ouf,M,28.0,NaN,NaN,Egypt,EGY,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
1018,570,Pedro Abreu Pascal,M,23.0,200.0,88.0,Cuba,CUB,1980 Summer,1980,Summer,Moskva,Basketball,Basketball Men's Basketball,NaN
1029,576,"Alejandro ""lex"" Abrines Redondo",M,23.0,198.0,93.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,Bronze
1034,580,Svetlana Olegovna Abrosimova,F,20.0,188.0,77.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,NaN
1035,580,Svetlana Olegovna Abrosimova,F,28.0,188.0,77.0,Russia,RUS,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,Bronze
1181,661,Emilio Achacoso,M,28.0,178.0,78.0,Philippines,PHI,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,NaN
1186,664,Kieron Robert Achara,M,29.0,208.0,110.0,Great Britain,GBR,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN
1214,683,Natalie Chioma Achonwa,F,19.0,190.0,86.0,Canada,CAN,2012 Summer,2012,Summer,London,Basketball,Basketball Women's Basketball,NaN
1215,683,Natalie Chioma Achonwa,F,23.0,190.0,86.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
1292,727,Martn Ral Acosta y Lara Daz,M,23.0,NaN,NaN,Uruguay,URU,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,NaN
1293,727,Martn Ral Acosta y Lara Daz,M,27.0,NaN,NaN,Uruguay,URU,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,Bronze
1320,740,"ngel ""Mudo"" Acua Lizana",M,29.0,NaN,NaN,Mexico,MEX,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,NaN
1322,742,Roberto Acua,M,25.0,208.0,109.0,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
1701,947,Adilson de Freitas Nascimento,M,20.0,195.0,88.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
1702,947,Adilson de Freitas Nascimento,M,28.0,195.0,88.0,Brazil,BRA,1980 Summer,1980,Summer,Moskva,Basketball,Basketball Men's Basketball,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269474,134838,Zhu Fangyu,M,21.0,201.0,100.0,China,CHN,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
269475,134838,Zhu Fangyu,M,25.0,201.0,100.0,China,CHN,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
269476,134838,Zhu Fangyu,M,29.0,201.0,100.0,China,CHN,2012 Summer,2012,Summer,London,Basketball,Basketball Men's Basketball,NaN
269608,134906,Olena Mykolaivna Zhyrko (-Marenchikova),F,24.0,180.0,NaN,Unified Team,EUN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Women's Basketball,Gold
269609,134906,Olena Mykolaivna Zhyrko (-Marenchikova),F,28.0,180.0,NaN,Ukraine,UKR,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Women's Basketball,NaN
269627,134922,Ji Zdek,M,28.0,206.0,100.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN
270060,135105,Zuzana irkov,F,20.0,175.0,67.0,Slovakia,SVK,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Women's Basketball,NaN
270081,135113,"Nikolaos ""Nikos"" Zisis",M,20.0,195.0,90.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
270082,135113,"Nikolaos ""Nikos"" Zisis",M,24.0,195.0,90.0,Greece,GRE,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
270119,135138,Rajko ii,M,21.0,210.0,110.0,Yugoslavia,YUG,1976 Summer,1976,Summer,Montreal,Basketball,Basketball Men's Basketball,Silver
270120,135138,Rajko ii,M,25.0,210.0,110.0,Yugoslavia,YUG,1980 Summer,1980,Summer,Moskva,Basketball,Basketball Men's Basketball,Gold
270121,135138,Rajko ii,M,29.0,210.0,110.0,Yugoslavia,YUG,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,Bronze
270278,135203,Kateina Zohnov,F,27.0,179.0,63.0,Czech Republic,CZE,2012 Summer,2012,Summer,London,Basketball,Basketball Women's Basketball,NaN
270360,135241,Aljoa orga,M,21.0,200.0,91.0,Yugoslavia,YUG,1968 Summer,1968,Summer,Mexico City,Basketball,Basketball Men's Basketball,Silver
270382,135251,Neboja Zorki,M,22.0,187.0,77.0,Yugoslavia,YUG,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Men's Basketball,Bronze
270444,135273,Zou Yuchen,M,20.0,203.0,107.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
270522,135299,Michaela Zrstov,F,25.0,186.0,74.0,Czech Republic,CZE,2012 Summer,2012,Summer,London,Basketball,Basketball Women's Basketball,NaN
270534,135306,Tibor Zsiros,M,18.0,195.0,97.0,Hungary,HUN,1948 Summer,1948,Summer,London,Basketball,Basketball Men's Basketball,NaN
270535,135306,Tibor Zsiros,M,22.0,195.0,97.0,Hungary,HUN,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
270536,135306,Tibor Zsiros,M,30.0,195.0,97.0,Hungary,HUN,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,NaN
270613,135345,Viktor Alekseyevich Zubkov,M,19.0,202.0,88.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Basketball,Basketball Men's Basketball,Silver
270614,135345,Viktor Alekseyevich Zubkov,M,23.0,202.0,88.0,Soviet Union,URS,1960 Summer,1960,Summer,Roma,Basketball,Basketball Men's Basketball,Silver
270680,135369,Dino Zucchi,M,24.0,192.0,NaN,Italy,ITA,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
270740,135401,Eurelijus ukauskas,M,22.0,218.0,115.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze
270741,135401,Eurelijus ukauskas,M,27.0,218.0,115.0,Lithuania,LTU,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,Bronze
270742,135401,Eurelijus ukauskas,M,30.0,218.0,115.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
270743,135402,Mindaugas ukauskas,M,20.0,201.0,100.0,Lithuania,LTU,1996 Summer,1996,Summer,Atlanta,Basketball,Basketball Men's Basketball,Bronze
270744,135402,Mindaugas ukauskas,M,28.0,201.0,100.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
271026,135530,Philip Zwiener,M,23.0,202.0,98.0,Germany,GER,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

4,536 rows is a lot! That may be enough data. Let's group these results to see the average height of players and the results for each team each year. We'll remove any entries that don't have heights for their players.

In [22]:
basketball_grouped = basketball_data.groupby(['Team', 'Year']).Height.mean().reset_index()
basketball_grouped.dropna(inplace = True)
basketball_grouped

              Team  Year      Height
0           Angola  1992  192.833333
1           Angola  1996  193.545455
2           Angola  2000  195.416667
3           Angola  2004  194.333333
4           Angola  2008  194.416667
5           Angola  2012  180.333333
6        Argentina  1948  184.000000
7        Argentina  1952  190.500000
8        Argentina  1996  199.250000
9        Argentina  2004  199.333333
10       Argentina  2008  199.500000
11       Argentina  2012  199.166667
12       Argentina  2016  199.083333
13       Australia  1956  184.285714
14       Australia  1964  191.583333
15       Australia  1972  193.166667
16       Australia  1976  196.833333
17       Australia  1980  194.833333
18       Australia  1984  189.541667
19       Australia  1988  189.181818
20       Australia  1992  199.416667
21       Australia  1996  190.166667
22       Australia  2000  190.333333
23       Australia  2004  190.708333
24       Australia  2008  192.375000
25       Australia  2012  192.208333
26       Australia  2016  192.083333
27         Belarus  2008  184.583333
28         Belarus  2016  182.600000
33          Brazil  1948  179.333333
..             ...   ...         ...
292  United States  1968  196.166667
293  United States  1972  200.666667
294  United States  1976  188.708333
295  United States  1984  192.625000
296  United States  1988  190.291667
297  United States  1992  192.416667
298  United States  1996  192.083333
299  United States  2000  190.782609
300  United States  2004  192.166667
301  United States  2008  192.041667
302  United States  2012  192.916667
303  United States  2016  194.375000
305        Uruguay  1948  190.000000
306        Uruguay  1952  186.333333
307        Uruguay  1956  184.000000
308        Uruguay  1960  185.250000
309        Uruguay  1964  184.416667
310        Uruguay  1984  195.636364
311      Venezuela  1992  195.555556
312      Venezuela  2016  197.083333
313   West Germany  1972  195.250000
314   West Germany  1984  200.750000
315     Yugoslavia  1960  188.250000
316     Yugoslavia  1964  192.250000
317     Yugoslavia  1968  196.833333
318     Yugoslavia  1972  197.750000
319     Yugoslavia  1976  199.250000
320     Yugoslavia  1980  190.708333
321     Yugoslavia  1984  191.583333
322     Yugoslavia  1988  193.250000

[294 rows x 3 columns]

Now let's add in whether they received a medal.

In [23]:
medal = basketball_data[['Team', 'Year', 'Medal']]
medal_grouped = medal.groupby(['Team', 'Year']).Medal.last().reset_index()
medal_grouped

              Team  Year   Medal
0           Angola  1992     NaN
1           Angola  1996     NaN
2           Angola  2000     NaN
3           Angola  2004     NaN
4           Angola  2008     NaN
5           Angola  2012     NaN
6        Argentina  1948     NaN
7        Argentina  1952     NaN
8        Argentina  1996     NaN
9        Argentina  2004    Gold
10       Argentina  2008  Bronze
11       Argentina  2012     NaN
12       Argentina  2016     NaN
13       Australia  1956     NaN
14       Australia  1964     NaN
15       Australia  1972     NaN
16       Australia  1976     NaN
17       Australia  1980     NaN
18       Australia  1984     NaN
19       Australia  1988     NaN
20       Australia  1992     NaN
21       Australia  1996  Bronze
22       Australia  2000  Silver
23       Australia  2004  Silver
24       Australia  2008  Silver
25       Australia  2012  Bronze
26       Australia  2016     NaN
27         Belarus  2008     NaN
28         Belarus  2016     NaN
29         Belgium  1936     NaN
..             ...   ...     ...
293  United States  1972  Silver
294  United States  1976  Silver
295  United States  1984    Gold
296  United States  1988    Gold
297  United States  1992  Bronze
298  United States  1996    Gold
299  United States  2000    Gold
300  United States  2004  Bronze
301  United States  2008    Gold
302  United States  2012    Gold
303  United States  2016    Gold
304        Uruguay  1936     NaN
305        Uruguay  1948     NaN
306        Uruguay  1952  Bronze
307        Uruguay  1956  Bronze
308        Uruguay  1960     NaN
309        Uruguay  1964     NaN
310        Uruguay  1984     NaN
311      Venezuela  1992     NaN
312      Venezuela  2016     NaN
313   West Germany  1972     NaN
314   West Germany  1984     NaN
315     Yugoslavia  1960     NaN
316     Yugoslavia  1964     NaN
317     Yugoslavia  1968  Silver
318     Yugoslavia  1972     NaN
319     Yugoslavia  1976  Silver
320     Yugoslavia  1980    Gold
321     Yugoslavia  1984  Bronze
322     Yugoslavia  1988  Silver

[323 rows x 3 columns]

In [25]:
basketball = pd.merge(basketball_grouped, medal_grouped, on = ['Team', 'Year'])
basketball

              Team  Year      Height   Medal
0           Angola  1992  192.833333     NaN
1           Angola  1996  193.545455     NaN
2           Angola  2000  195.416667     NaN
3           Angola  2004  194.333333     NaN
4           Angola  2008  194.416667     NaN
5           Angola  2012  180.333333     NaN
6        Argentina  1948  184.000000     NaN
7        Argentina  1952  190.500000     NaN
8        Argentina  1996  199.250000     NaN
9        Argentina  2004  199.333333    Gold
10       Argentina  2008  199.500000  Bronze
11       Argentina  2012  199.166667     NaN
12       Argentina  2016  199.083333     NaN
13       Australia  1956  184.285714     NaN
14       Australia  1964  191.583333     NaN
15       Australia  1972  193.166667     NaN
16       Australia  1976  196.833333     NaN
17       Australia  1980  194.833333     NaN
18       Australia  1984  189.541667     NaN
19       Australia  1988  189.181818     NaN
20       Australia  1992  199.416667     NaN
21       Australia  1996  190.166667  Bronze
22       Australia  2000  190.333333  Silver
23       Australia  2004  190.708333  Silver
24       Australia  2008  192.375000  Silver
25       Australia  2012  192.208333  Bronze
26       Australia  2016  192.083333     NaN
27         Belarus  2008  184.583333     NaN
28         Belarus  2016  182.600000     NaN
29          Brazil  1948  179.333333  Bronze
..             ...   ...         ...     ...
264  United States  1968  196.166667    Gold
265  United States  1972  200.666667  Silver
266  United States  1976  188.708333  Silver
267  United States  1984  192.625000    Gold
268  United States  1988  190.291667    Gold
269  United States  1992  192.416667  Bronze
270  United States  1996  192.083333    Gold
271  United States  2000  190.782609    Gold
272  United States  2004  192.166667  Bronze
273  United States  2008  192.041667    Gold
274  United States  2012  192.916667    Gold
275  United States  2016  194.375000    Gold
276        Uruguay  1948  190.000000     NaN
277        Uruguay  1952  186.333333  Bronze
278        Uruguay  1956  184.000000  Bronze
279        Uruguay  1960  185.250000     NaN
280        Uruguay  1964  184.416667     NaN
281        Uruguay  1984  195.636364     NaN
282      Venezuela  1992  195.555556     NaN
283      Venezuela  2016  197.083333     NaN
284   West Germany  1972  195.250000     NaN
285   West Germany  1984  200.750000     NaN
286     Yugoslavia  1960  188.250000     NaN
287     Yugoslavia  1964  192.250000     NaN
288     Yugoslavia  1968  196.833333  Silver
289     Yugoslavia  1972  197.750000     NaN
290     Yugoslavia  1976  199.250000  Silver
291     Yugoslavia  1980  190.708333    Gold
292     Yugoslavia  1984  191.583333  Bronze
293     Yugoslavia  1988  193.250000  Silver

[294 rows x 4 columns]

Beautiful. Now we have the team, the year they competed, the average height of their players, and which medal they received, if any.